extends basic.pug
block header
 link(rel="stylesheet", href="/css/actividades.css")
block content
       .container    
        .row(class="mt-2 mb-4")    
            div(class="col-sm-12 col-md-12 col-lg-4 col-xl-4 no-padding")
                img(class="img-fluid imagen", src='/'+actividad.imagenAct)
            div(class="col-sm-12 col-md-12 col-lg-8 col-xl-8")
                .card
                  .card-header
                    .container 
                      .row
                        div(class='col-sm-12 col-md-12 col-lg-6 col-xl-6')
                          h3.mt-1 #{actividad.nombreact} 
                          h6 Provincia: 
                            small #{actividad.provincia}
                          h6 Fecha de publicación: 
                            small #{actividad.fecha_pub}
                        div(class='col-sm-12 col-md-12 col-lg-6 col-xl-6')
                          a.float-right.btn.btn-primary.btn-lg.active(href='/pago', role='button', aria-pressed='true') ¡Reserva Ya!
                  .card-body
                        h5 Compañia:
                        p.ml-2 #{actividad.compania}
                        hr
                        h5 Descripción:
                        p.ml-2 #{actividad.descripcion}
                        hr
                        if (actividad.habdescripcion)
                            h5 Habitaciones:
                            p.ml-2 #{actividad.habdescripcion}
                            hr
                        h5 Precio:
                        p.ml-2 #{actividad.precio}, (#{actividad.secprecio})
                        hr
                        if (actividad.contacto || actividad.correo)
                          if (!actividad.contacto)
                            h5 Contacto:
                            p.ml-2 Número de contacto: No proporcionado por el autor, Correo: #{actividad.correo}
                            hr
                          else if (!actividad.correo)
                            h5 Contacto:
                            p.ml-2 Número de contacto: #{actividad.contacto}, Correo: No proporcionado por el autor
                            hr
                          else
                            h5 Contacto:
                            p.ml-2 Número de contacto: #{actividad.contacto}, Correo: #{actividad.correo}
                            hr
                        h5 Informacion adicional:
                        if (actividad.infoadicional)
                          p.ml-2 #{actividad.infoadicional}
                        else
                          p.ml-2 No hay mas información adicional disponible  