extends basic.pug
block header
  link(rel="stylesheet", href="/css/pago.css")
block content
    .container    
      .row(class="mt-4 info mb-4")
        div(class='col-sm-12')
          h4 Proceso de Reservaci칩n:
        div(class='col-sm-12 col-md-4 col-lg-4 mt-2')
          img(src="/css/logo.png", alt="Logo", class='w-100 logo')            
        div(class='col-sm-12 col-md-8 col-lg-8')
          .card
            .card-header
              span(class='fa fa-cc-paypal fa-1x top')  Compra seguro en PanamaTrips con PayPal
            .card-body
              .container
                .row
                  div(class='col-sm-12 col-md-4 col-lg-4')
                    img(src="/"+actividad.imagenes[0], alt="Logo", class='w-100 logo') 
                  div(class='col-sm-12 col-md-8 col-lg-8')
                    h5 Actividad:
                    p #{actividad.nombreact}
                    h5 Compa침ia:
                    p #{actividad.compania}
                    h5 Descripci칩n:
                    p #{actividad.descripcion}
                    h5 Precio:
                    p B/. #{actividad.precio} 
                    h5 Condici칩n:
                    p #{actividad.secprecio}
                    h5 Para cuantas personas:
                    input(id='cantidadper', type="number", name="cantidad", min='1', value='1')
                    .mt-4
                      label
                        input(type="radio" name="payment-option" value="paypal" checked="true")
                        img(src="/css/paypal-mark.jpg" alt="Pague con PayPal")
                      label
                        input(type="radio" name="payment-option" value="card")
                        img(src="/css/card-mark.png" alt="Se aceptan Visa, MasterCard, American Express", width='150px', height='70px')
                      #paypal-button-container
                      #card-button-container.hidden
                        button.btn.btn-primary 
                           span(class='fa fa-cc-paypal fa-1x')  Continuar
block scripts
  script(src="https://www.paypalobjects.com/api/checkout.js")
  script(src="/js/paypal.js")
           
