extends basic.pug
block content
        .container
            .col-sm-12 
                h3.mt-3 ¡Estas son las actividades, #{usuario}!
            .col-sm-12
            .row
            .col-sm-12
                div(class="card bg-dark text-white")
                    img(class="card-img", src="/css/bocas-toro-panama.jpg", alt="Card image")
                    div(class="card-img-overlay")
                        h4.card-title Actividades por provincia
                        .card-body
                            div(class='pre-scrollable')
                                table.table.table-hover.table-light.mb-0
                                        thead.thead-dark
                                            tr
                                                th(scope="col") N°
                                                th(scope="col") Oferta
                                                th(scope="col") Compañia
                                                th(scope="col") Descripcion
                                                th(scope="col") Provincia
                                                th(scope="col") Telefono
                                                th(scope="col") Correo
                                                th(scope="col") Estado
                                                th(scope="col") Tiempo en Horas
                                                th(scope="col") Precio
                                        tbody
                                            for lofert, n in oferta
                                                tr
                                                    
                                                    td.bg-secondary.text-light= n+1
                                                    td #{lofert.nombreofer}
                                                    td #{lofert.compania}
                                                    td #{lofert.descripcion}
                                                    td #{lofert.provincia} 
                                                    td #{lofert.telefono}
                                                    td #{lofert.correo}
                                                    td #{lofert.estado}
                                                    td #{lofert.tiempo}
                                                    td #{lofert.precio}
                                                    td
                                                        input(type='hidden', value=lofert._id, name='id')
                                                        input(type='submit',value='Fuck').btn.btn-success